html,
body {
  background: repeating-linear-gradient(blue, green);
  height: 100%;
}

.list-group {
  max-height: 300px;
  /* margin-bottom: 10px;
  overflow: scroll; */
}

.my-auto-scroll {
  overflow-y: scroll;
}

.app-title {
  text-align: center;
}

body {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 118, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.vertical-center {
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
